{% extends "layout.html" %}
{% block nav_login %}
active
{% endblock %}

{% block body %}
<div class="container feature-page">

    <div class="container" id="title">
        <h2>Reset Password</h2>
    </div>
    <br>
    <div class="container">
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.email.label }}<br>
                {{ form.email(size=32, class="form-control col-sm-6") }}<br>
                {% for error in form.email.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.submit(class="btn btn-primary col-sm-6") }}</p>
        </form>
    </div>
</div>
{% endblock %}