/* BELOW IS FOR FAVORITE STAR */
@import url(//fonts.googleapis.com/css?family=Open+Sans:600,400&subset=latin,cyrillic);

.click {
	font-size: 33px;
	color: rgba(0,0,0,.5);
    /* width: 38px; */
    width: 5px;
	height: 38px;
	margin: 0 auto;
	margin-top: 20px;
	position: relative;
	cursor: pointer;
}

.click span {
	margin-left: 4px;
	margin-top: 3px;
	z-index: 999;
	position: absolute;
}

span:hover {
	opacity: 0.8;
}

span:active {
	transform: scale(0.93,0.93) translateY(2px)
}

.ring, .ring2 {
	opacity: 0;
	background: grey;
	width: 1px;
	height: 1px;
	position: absolute;
	top: 19px;
    /* left: 18px; */
    left: 2px;
	border-radius: 50%;
	cursor: pointer;
}

.active span, .active-2 span {
	color: #F5CC27 !important;
}

.active-2 .ring {
    /* width: 58px !important; */
    width: 26px !important;
	height: 58px !important;
	top: -10px !important;
    /* left: -10px !important; */
    left: -5px !important;
	position: absolute;
	border-radius: 50%;
	opacity: 1 !important;
}

.active-2 .ring {
	background: #F5CC27 !important;
}

.active-2 .ring2 {
	background: #fff !important;
}

.active-3 .ring2 {
	width: 60px !important;
	height: 60px !important;
	top: -11px !important;
    /* left: -11px !important; */
    left: -5.5px !important;
	position: absolute;
	border-radius: 50%;
	opacity: 1 !important;
}

.info {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	white-space: nowrap;
	color: grey;
	position: relative;
	top: 30px;
    /* left: -46px; */
    left: -23px;
	opacity: 0;
	transition: all 0.3s ease;
}

.info-tog {
	color: #F5CC27;
	position: relative;
	top: 45px;
	opacity: 1;
}

* {
	transition: all .32s ease;
}
/* END OF FAVORITE STAR */

html {
	height: 100%;
}

@media (prefers-color-scheme: light) {
	body {
		background-color: ghostwhite;
	}
	tr {
		background-color: white;
	}
}

.container {
	max-width: 1000px;
}

.navbar-true {
	border-bottom:2px solid #f0f0f0;
}

button {
    border-color: #575757;
}

#index {
	background:
		linear-gradient(
		rgba(0, 0, 0, 0.5), 
		rgba(0, 0, 0, 0.5)
		),
		url("main/title-image-min.jpeg");
	background-size: cover;
	font-family: 'Lato', sans-serif;
	color: white;
}

#content {
	text-align: center;
	/* padding-top: 15%; */
}

h1 {
	font-weight: 700;
	font-size: 5em;
}


hr {
	width: 75%;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}

body {
	/* padding-top: 100px;
	padding-bottom: 40px; */
	font-family: Lato
}

.feature-page {
	padding-top: 100px;
	padding-bottom: 40px;
	padding-left: 0px;
	padding-right: 0px;
}


/* BELOW IS FOR INGREDIENT LIST CHECKBOXES */
.completed {
	text-decoration: line-through;
	opacity: 0.2;
}

dd {
    margin-bottom: 40px;
}

dt {
    margin-bottom: 10px;
}

.big-checkbox {
	/* zoom: 1.5; */
	transform: scale(1.5);
}

.vertical-center {
	display : flex;
	align-items : center;
	justify-content: center;
}

/* END OF INGREDIENT LIST CHECKBOXES */

.error {
	color: red;
	font-size: 25px;
	margin-top: 20px;
}

.redx {
	color: red;
	font-size: 25px;
}

.checkmark {
	font-size: 25px;
}

.navbar-collapse {
	text-align: center;
	/* font-size: 1.3em; */
}

.dropdown-item {
	text-align: center;
	font-size: 18px;
}

.nav-item {
	margin-right: 18px;
}


.badge {
	margin-left: 5px;
}


.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}


.image-container {
  width: 90%;
}

.image-container img {
  max-height:100%;
  max-width: 100%;
}

.center-cropped {
	width: 900px;
	height: 400px;
	background-position: center center;
	background-repeat: no-repeat;
  }

.center-text {
	text-align: center;
}

.small-image {
	max-width: 300px;
}

.recipe-list-hr {
	margin-top: 30px;
	margin-bottom: 30px;
}

.hidden-check {
	font-size: 0;
}

#editor-cert {
	font-size: 20px;
	color: rgb(8, 119, 8);
}

.editor-cert-list {
	font-size: 14px;
	color: rgb(8, 119, 8);
}

@media (prefers-color-scheme: dark) {
	a {
		color: ghostwhite;
	}
	.dark-link {
		color: #0080FF;
	}
	body {
		background-color: #181a1b;
	}
	#editor-cert {
		font-size: 20px;
		color: rgb(9, 187, 9);
	}
	.editor-cert-list {
		color: rgb(9, 187, 9);
	}
}


.slist-recipe {
	font-size: 0.8rem;
	font-style: italic;
}


.mealtime-badge {
	margin-top: 10px;
	margin-bottom: 8px;
}


.center {
	margin-left: auto;
    margin-right: auto;
}


.modal-meal-button {
	margin-top: 5px;
}


.fa-trash {
	/* zoom: 1.5; */
	transform: scale(1.5);
}


.btn-index {
	width: 30%;
	margin-left: 5px;
	margin-right: 5px;
}

.navbar-brand {
	font-size: 25px;
}

.navbar-false {
	display:none;
}

#btn-back-to-top {
	position: fixed;
	bottom: 20px;
	right: 25px;
	display: none;
	border: 2px solid #f0f0f0;
	z-index: 500;
}


@media (max-width: 500px) {
	.fixed-top {
		position: fixed;
		top: unset;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 1030;
		}
	.dropdown-item {
		text-align: right;
	}
	.navbar-collapse {
		text-align: right;
	}
	/* body {
		padding-bottom: 130px;
		padding-top: 30px;
	} */
	.navbar-brand {
		font-size: 28px;
	}
	#navbar-brand {
		margin-right: 0px;
		margin-left: 3%;
	}
	.navbar-true {
		border-top:2px solid #f0f0f0;
		border-bottom:unset;
	}
	.feature-page {
		padding-bottom: 130px;
		padding-top: 30px;
	}
	#btn-back-to-top {
		bottom: 90px;
	}
	.extra-height {
		padding: 3%;
		font-size: 130%;
	}
}


@media (max-width: 500px) and (display-mode: standalone) {
	.navbar-false {
		display: block;
		height: 40px;
	}
	.navbar-true {
		margin-bottom: 40px;
	}
	#btn-back-to-top {
		bottom: 130px;
	}
}

@media (min-width: 501px) {
	/* #navbar-icon {
		display: none;
	} */
	#navbar-brand {
		display: none;
	}
}

.vertical-center-index {
	min-height: 95%;
  	min-height: 95vh;
	display : flex;
	align-items : center;
	justify-content: center;
}

#sign-in-button {
	padding-right: 0px;
	padding-left: 0px;
}

#hidden-button {
	height: 0px;
	margin-bottom: 0px;
}

.flickeringElementFix {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.checkboxes label{
	margin: 0px 30px 0px 7px;
}

.btn-border {
	border: 2px solid #f0f0f0;
}

.center-button {
	display: flex;
	justify-content: center;
}

.inline-hr:after,
.inline-hr:before{
    content:"\00a0\00a0\00a0\00a0\00a0";
    text-decoration:line-through;
}

.inline-text {
	display: flex;
	flex-direction: row;
	padding-top: 20px;
	padding-bottom: 20px;
  }

.inline-text:before, .inline-text:after{
content: "";
flex: 1 1;
border-bottom: 1px solid;
margin: auto;
}

.inline-text:before {
margin-right: 10px
}

.inline-text:after {
margin-left: 10px
}


iframe {
	border-radius: 5px;
}


.ar-btn-group {
	padding: 10px;
	margin-left: 0px !important;
}

.fa-exclamation-triangle {
	padding-right: 8px;
}

/* Below code used for loading spinner overlay */
.overlay {
    background: #1f1e1c;  
    display: none;        
    position: absolute;  
    top: 0;                  
    right: 0;                
    bottom: 0;
    left: 0;
    opacity: 0.9;
	z-index: 1000;
}

.spinner-border {
	position: absolute;
	top: 50%;
	left: 50%;
}

/* Above code used for loading spinner overlay */


#admin-table-container {
	overflow: auto;
}

/* Used to hide navbar objects until ordering classes can be applied */
.hidden {
	display: none;
}


.cert-icon {
	padding-right: 10px;
}