<!DOCTYPE html>
<html translate="no">

<head>
  <title>
    Strudel
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- The page supports both dark and light color schemes, and the page author prefers dark. -->
  <meta name="color-scheme" content="light dark">


  <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">
  <!-- <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet"> -->
  <script src="https://kit.fontawesome.com/118ab854e2.js" crossorigin="anonymous"></script>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

  <!-- CSS for uploading images -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.css">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-dark.css') }}">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='recipe.css') }}?v=1.08">

  <!-- Web App Manifest -->
  <link rel="manifest" href="{{ url_for('static', filename='manifest.webmanifest') }}">
  <!-- include PWACompat _after_ your manifest -->
  <script async src="https://unpkg.com/pwacompat" crossorigin="anonymous"></script>

  <!-- Custom Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Lato&display=swap" rel="stylesheet">



  <!-- Sign in with Google -->
  <script src="https://accounts.google.com/gsi/client" async defer></script>

  <!-- DataTables JS -->
  <!-- <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script> -->

</head>

<body id="{% block bodyid %}{% endblock %}">

  <!-- Below code block adds loading spinner when naviating between pages on PWA -->
  <!-- Includes corresponding JS and CSS code -->
  <div class="overlay">
    <div class="spinner-border text-light" role="status" id="spinner-img">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

  <!-- Mobile Navbar Standalone -->
  <nav id="mobile-nav-standalone" class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark navbar-true">

    

    


    {% if current_user.is_anonymous %}
    <!-- <button class="navbar-button order-3">
      <a class="nav-link active" href="{{ url_for('auth.login') }}">Login</a>
    </button> -->

    <!-- Navbar Brand -->
    <a id="navbar-brand" class="navbar-brand title-name order-3 mx-auto" href="{{ url_for('main.index') }}">Strudel</a>
    
    {% else %}

    <button class="navbar-button order-2">
      <a href="{{ url_for('main.index') }}" id="navbar-home" class="bloc-icon {% block mobile_nav_home %}{% endblock %}">
        <i class="fa-solid fa-house fa-2x"></i>
      </a>
    </button>

    <button class="navbar-button order-3">
      <a href="{{ url_for('view_recipes.recipe_list_favorites') }}" class="bloc-icon {% block mobile_nav_search %}{% endblock %}">
        <i class="fa-solid fa-magnifying-glass fa-2x"></i>
      </a>
    </button>

    <button class="navbar-button order-4">
      <a href="{{ url_for('meal_planning.meal_plan') }}" class="bloc-icon {% block mobile_nav_meal_plan %}{% endblock %}">
        <i class="fa-solid fa-utensils fa-2x"></i>
      </a>
    </button>

    <button class="navbar-button order-5">
      <a href="{{ url_for('meal_planning.shopping_list') }}" class="bloc-icon {% block mobile_nav_shopping_list %}{% endblock %}">
        <i class="fa-solid fa-list-check fa-2x"></i>
      </a>
    </button>

    <button id="navbar-toggler" class="navbar-toggler order-6" type="button" data-toggle="collapse"
      data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <!-- <span class="navbar-toggler-icon"></span> -->
      <i class="fa-solid fa-angles-up fa-2x bloc-icon {% block mobile_nav_extra_menu %}{% endblock %}"></i>
    </button>

    <div class="collapse navbar-collapse order-1" style="font-size: 1.3em;" id="navbarSupportedContent">



      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a href="{{ url_for('add_recipes.auto_import') }}" class="nav-link">Auto
            Import Recipe</a>
        </li>
        <li class="nav-item">
          <a href="{{ url_for('add_recipes.add_recipe') }}" class="nav-link">Manually
            Enter Recipe</a>
        </li>
        <li class="nav-item">
          <a href="{{ url_for('meal_planning.meal_selector') }}" class="nav-link">Meal Selector</a>
        </li>

        <!-- </ul> -->

        <!-- <ul class="navbar-nav"> -->
        <li class="nav-item">
          <!-- Below class stops Google One Tap from auto logging in the user after they intentionally log out -->
          <a class="nav-link g_id_signout" href="{{ url_for('auth.logout') }}">Logout</a>
          {% endif %}
        </li>
      </ul>
    </div>
  </nav>


  <!-- Mobile Navbar in Browser -->
  <nav id="mobile-nav-browser" class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark navbar-true">

    <!-- Navbar Brand -->
    <a id="navbar-brand" class="navbar-brand title-name order-3" href="{{ url_for('main.index') }}">Strudel</a>

    <!-- Home Icon -->
    <a id="navbar-icon" class="navbar-brand title-name order-2" href="{{ url_for('main.index') }}"><i class="fa-solid fa-house-chimney"></i></a>

    <button id="navbar-toggler" class="navbar-toggler order-4" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse order-1" style="font-size: 1.3em;" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        {% if current_user.is_active %}

        <!-- Add New Recipes menu-->
        <li class="nav-item {% block nav_add_menu %}{% endblock %} dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Add New Recipes
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item {% block nav_auto_import %}{% endblock %}" href="{{ url_for('add_recipes.auto_import') }}">Auto
              Import</a>
            <a class="dropdown-item {% block nav_add %}{% endblock %}" href="{{ url_for('add_recipes.add_recipe') }}">Manual
              Entry</a>
          </div>
        </li>

        <!-- View Recipes menu-->
        <li class="nav-item {% block nav_view_menu %}{% endblock %} dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            View Recipes
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item {% block nav_search %}{% endblock %}" href="{{ url_for('view_recipes.search') }}">Search</a>
            <a class="dropdown-item {% block nav_recipes %}{% endblock %}"
              href="{{ url_for('view_recipes.recipe_list_favorites') }}">View All Recipes</a>
          </div>
        </li>



        <li class="nav-item {% block nav_meal_selector %}{% endblock %}">
          <a class="nav-link" href="{{ url_for('meal_planning.meal_selector') }}">Meal Selector</a>
        </li>

        <li class="nav-item {% block nav_meal_plan %}{% endblock %}">
          <a class="nav-link" href="{{ url_for('meal_planning.meal_plan') }}">Meal
            Plan</a>
        </li>

        <li class="nav-item {% block nav_shopping_list %}{% endblock %}">
          <a class="nav-link" href="{{ url_for('meal_planning.shopping_list') }}">Shopping List</a>
        </li>


        {% endif %}

      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          {% if current_user.is_anonymous %}
          <a class="nav-link active" href="{{ url_for('auth.login') }}">Login</a>
          {% else %}
          <!-- Below class stops Google One Tap from auto logging in the user after they intentionally log out -->
          <a class="nav-link g_id_signout" href="{{ url_for('auth.logout') }}">Logout</a>
          {% endif %}
        </li>
      </ul>
    </div>
  </nav>

  <!-- Desktop Navbar -->
  <nav id="desktop-nav" class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark navbar-true">

    <!-- Home Icon -->
    <a id="navbar-icon" class="navbar-brand title-name" href="{{ url_for('main.index') }}">
      <i class="fa-solid fa-house-chimney"></i>
    </a>

    <button id="navbar-toggler" class="navbar-toggler" type="button" data-toggle="collapse"
      data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" style="font-size: 1.3em;" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        {% if current_user.is_active %}

        <!-- Add New Recipes menu-->
        <li class="nav-item {% block nav_add_menu_d %}{% endblock %} dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Add New
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item {% block nav_auto_import_d %}{% endblock %}"
              href="{{ url_for('add_recipes.auto_import') }}">Auto
              Import</a>
            <a class="dropdown-item {% block nav_add_d %}{% endblock %}"
              href="{{ url_for('add_recipes.add_recipe') }}">Manual
              Entry</a>
          </div>
        </li>

        <!-- View Recipes menu-->
        <li class="nav-item {% block nav_view_menu_d %}{% endblock %} dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            View Recipes
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item {% block nav_search_d %}{% endblock %}"
              href="{{ url_for('view_recipes.search') }}">Search</a>
            <a class="dropdown-item {% block nav_recipes_d %}{% endblock %}"
              href="{{ url_for('view_recipes.recipe_list_favorites') }}">View All Recipes</a>
          </div>
        </li>



        <li class="nav-item {% block nav_meal_selector_d %}{% endblock %}">
          <a class="nav-link" href="{{ url_for('meal_planning.meal_selector') }}">Meal Selector</a>
        </li>

        <li class="nav-item {% block nav_meal_plan_d %}{% endblock %}">
          <a class="nav-link" href="{{ url_for('meal_planning.meal_plan') }}">Meal
            Plan</a>
        </li>

        <li class="nav-item {% block nav_shopping_list_d %}{% endblock %}">
          <a class="nav-link" href="{{ url_for('meal_planning.shopping_list') }}">Shopping List</a>
        </li>


        {% endif %}

      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          {% if current_user.is_anonymous %}
          <a class="nav-link active" href="{{ url_for('auth.login') }}">Login</a>
          {% else %}
          <!-- Below class stops Google One Tap from auto logging in the user after they intentionally log out -->
          <a class="nav-link g_id_signout" href="{{ url_for('auth.logout') }}">Logout</a>
          {% endif %}
        </li>
      </ul>
    </div>
  </nav>

  <!-- Extra spacing for bottom of mobile screens when using as a PWA -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark navbar-false">
  </nav>

  {% block body %}
  {% endblock %}

  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.4.1/bootbox.js"
    integrity="sha512-1oBRa/4SUiqjkyl0940/yFwzpGByv7v1hdyX4dHPi1PoKmCLswjbRE7j2Rtq2f2hvSrxu6HEGPOL12TRACy+kg=="
    crossorigin="anonymous"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='main/layout.js') }}?v=1.01"></script>

  {% block footer %}

  {% endblock %}

</body>

</html>