{% extends "main/layout.html" %}
{% block nav_meal_plan %}
active
{% endblock %}

{% block body %}
<div class="container feature-page">

  <div class="container" id="title">
    <h2>Meal Plan</h2>
  </div>

  <br>
  <div class="container">

    <div class="form-group">
      <div class="row" style="padding-top: 20px;">

        <!-- Display button so that user can navigate to All Recipes page -->
        <div class="form-group col-sm">
          <a href="{{ url_for('view_recipes.recipe_list_favorites') }}" class="btn btn-primary btn-block">Choose Recipes</a>
        </div>

        <!-- Display button so that user can navigate to Meal Selector page -->
        <div class="form-group col-sm">
          <a href="{{ url_for('meal_planning.meal_selector') }}" class="btn btn-primary btn-block">Automatically Generate Recipes</a>
        </div>

        <!-- Display button so that user can delete all recipes from their current meal plan -->
        <div class="form-group col-sm">
          <button class="btn btn-danger btn-block" id="clear-meal-plan-submit" name="clear-meal-plan-submit"
            data-toggle="modal" data-target="#clear-mealplan-modal-confirm-delete">Clear Current Meal Plan</button>
        </div>

        <!-- Modal prompting whether to clear their entire meal plan -->
        <div class="modal fade clear-mealplan-modal-confirm-delete" id="clear-mealplan-modal-confirm-delete"
          tabindex="-1" role="dialog" aria-labelledby="clear-mealplan-modal-confirm-delete-title" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="clear-mealplan-modal-confirm-delete-title">Confirm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Are you sure that you want to clear your entire meal plan?
              </div>
              <!-- Button to proceed with removal -->
              <div class="modal-footer">
                <button type="button" id="clear-mealplan-proceed" class="btn btn-danger center clear-mealplan-proceed"
                  data-dismiss="modal">
                  Clear Meal Plan
                </button>
                <!-- Button to cancel and close modal -->
                <button type="button" class="btn btn-secondary center" data-dismiss="modal">
                  Cancel
                </button>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>

    <br>


    <div id="accordion">

      <!-- Card #1: Breakfast recipes -->
      <div class="card" id="breakfast-card">
        <div class="card-header text-center text-white bg-secondary" id="headingOne" data-toggle="collapse"
          data-target="#collapseOne">
          <h4 class="mb-0">
            Breakfast
            <!-- Badge displaying total number of recipes in this section -->
            <span class="badge badge-light" id="bfast-length">{{ bfast_length }}</span>
            <span class="sr-only">breakfast recipes</span>
          </h4>
        </div>

        <div id="collapseOne" {% if priority_meal != "Breakfast" %} class="collapse" {% endif %}
          aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            {% if bfast_exists == True %}

            <ul class="list-unstyled">
              {% for recipe in selected_bfast_meals_list %}

              <!-- Recipe Name -->
              <li id="bfast-li-{{ recipe.Recipe.recipe_id }}">
                <a href="{{ url_for('view_recipes.recipe_detail', recipe_id=recipe.Recipe.recipe_id) }}"
                  class="text-decoration-none">
                  <h3 class="text-center">{{ recipe.Recipe.recipe_name }}</h3>
                  <!-- Recipe Prep/Cook Time -->
                  <h6 class="text-center">
                    {% if recipe.Recipe.recipe_total_time != None %}
                    ({{ recipe.Recipe.recipe_total_time }} minutes total prep/cook time)
                    {% endif %}
                  </h6>
                  <!-- Editor Certified Label -->
                  {% if recipe.Recipe.editor_certified %}
                      <p class="text-center editor-cert-list">
                          <i class="fa-solid fa-circle-check cert-icon"></i>
                          Editor Certified
                      </p>
                  {% endif %}
                  <!-- Recipe Image -->
                  {% if recipe.Recipe.recipe_image_url != None %}
                  <img id="preview" src="{{ recipe.Recipe.recipe_image_url}}"
                    class="center rounded img-fluid small-image" alt="Responsive image" />
                  {% else %}
                  <img id="preview" src="/static/view_recipes/placeholder-recipe-image.jpg"
                    class="center rounded img-fluid small-image" alt="Responsive image" />
                  {% endif %}
                </a>


                <div class="form-group">
                  <!-- Display button so that user can view recipe's page -->
                  <div class="row" style="padding-top: 20px;">
                    <div class="form-group col-sm">
                      <a href="{{ url_for('view_recipes.recipe_detail', recipe_id=recipe.Recipe.recipe_id) }}"
                        class="btn btn-primary btn-block">View Recipe</a>
                    </div>

                    <!-- Display button so that user can view recipe's source website -->
                    <div class="form-group col-sm">
                      {% if recipe.Recipe.recipe_url %}
                          <a href="https://{{ recipe.Recipe.recipe_url }}" target="_blank"
                          class="btn btn-primary btn-block">Source
                          Website</a>
                      {% else %}
                          <button type="button" class="btn btn-danger btn-block">No Source Website</button>
                      {% endif %}
                    </div>

                    <!-- Display button so that user can delete recipe from their current meal plan -->
                    <div class="form-group col-sm">
                      <input type="hidden" name="recipe_id" value="{{ recipe.Recipe.recipe_id }}" />
                      <input type="hidden" name="meal_time" value="breakfast" />
                      <!-- Upon selecting the "Remove from Meal Plan" button, render the confirmation modal -->
                      <button type="submit" class="btn btn-danger btn-block" id="bfast_meal_plan_submit"
                        name="bfast_meal_plan_submit" data-toggle="modal"
                        data-target="#mealtime-modal-bfast-confirm-delete-{{ recipe.Recipe.recipe_id }}">Remove
                        from Meal Plan</button>
                    </div>

                  </div>
                </div>

                <!-- Modal prompting whether to delete recipe from their meal plan -->
                <div class="modal mealtime-modal-bfast-confirm-delete"
                  id="mealtime-modal-bfast-confirm-delete-{{ recipe.Recipe.recipe_id }}" tabindex="-1" role="dialog"
                  aria-labelledby="mealtime-modal-bfast-confirm-delete-title" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="mealtime-modal-bfast-confirm-delete-title">Confirm</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        Are you sure that you want to remove <strong>{{ recipe.Recipe.recipe_name }}</strong> from the
                        Breakfast section of your meal plan?
                      </div>
                      <!-- Button to proceed with removal -->
                      <div class="modal-footer">
                        <button type="button" name="{{ recipe.Recipe.recipe_id }}"
                          id="bfast-{{ recipe.Recipe.recipe_id }}"
                          class="btn btn-danger center remove-bfast-recipe-proceed" data-dismiss="modal">
                          Remove from Meal Plan
                        </button>
                        <!-- Button to cancel and close modal -->
                        <button type="button" class="btn btn-secondary center" data-dismiss="modal">
                          Cancel
                        </button>
                      </div>
                    </div>
                  </div>
                </div>

                <hr class="recipe-list-hr" />

              </li>

              {% endfor %}

            </ul>

            <!-- If user doesn't have any breakfast meals selected, display placeholder message -->
            {% else %}
            <h5 class="text-center">You don't have any breakfast meals selected this week.</h5>
            {% endif %}
          </div>
        </div>
      </div>

      <!-- Card #2: Lunch recipes -->
      <div class="card" id="lunch-card">
        <div class="card-header text-center text-white bg-secondary" id="headingTwo" data-toggle="collapse"
          data-target="#collapseTwo">
          <h4 class="mb-0">
            Lunch
            <!-- Badge displaying total number of recipes in this section -->
            <span class="badge badge-light" id="lunch-length">{{ lunch_length }}</span>
            <span class="sr-only">lunch recipes</span>
          </h4>
        </div>
        <div id="collapseTwo" {% if priority_meal != "Lunch" %} class="collapse" {% endif %}
          aria-labelledby="headingTwo" data-parent="#accordion">
          <div class="card-body">
            {% if lunch_exists == True %}

            <ul class="list-unstyled">
              {% for recipe in selected_lunch_meals_list %}

              <!-- Recipe Name -->
              <li id="lunch-li-{{ recipe.Recipe.recipe_id }}">
                <a href="{{ url_for('view_recipes.recipe_detail', recipe_id=recipe.Recipe.recipe_id) }}"
                  class="text-decoration-none">
                  <h3 class="text-center">{{ recipe.Recipe.recipe_name }}</h3>
                  <!-- Recipe Prep/Cook Time -->
                  <h6 class="text-center">
                    {% if recipe.Recipe.recipe_total_time != None %}
                    ({{ recipe.Recipe.recipe_total_time }} minutes total prep/cook time)
                    {% endif %}
                  </h6>
                  <!-- Editor Certified Label -->
                  {% if recipe.Recipe.editor_certified %}
                      <p class="text-center editor-cert-list">
                          <i class="fa-solid fa-circle-check cert-icon"></i>
                          Editor Certified
                      </p>
                  {% endif %}
                  <!-- Recipe Image -->
                  {% if recipe.Recipe.recipe_image_url != None %}
                  <img id="preview" src="{{ recipe.Recipe.recipe_image_url}}"
                    class="center rounded img-fluid small-image" alt="Responsive image" />
                  {% else %}
                  <img id="preview" src="/static/view_recipes/placeholder-recipe-image.jpg"
                    class="center rounded img-fluid small-image" alt="Responsive image" />
                  {% endif %}
                </a>


                <div class="form-group">
                  <!-- Display button so that user can view recipe's page -->
                  <div class="row" style="padding-top: 20px;">
                    <div class="form-group col-sm">
                      <a href="{{ url_for('view_recipes.recipe_detail', recipe_id=recipe.Recipe.recipe_id) }}"
                        class="btn btn-primary btn-block">View Recipe</a>
                    </div>

                    <!-- Display button so that user can view recipe's source website -->
                    <div class="form-group col-sm">
                      {% if recipe.Recipe.recipe_url %}
                          <a href="https://{{ recipe.Recipe.recipe_url }}" target="_blank"
                          class="btn btn-primary btn-block">Source
                          Website</a>
                      {% else %}
                          <button type="button" class="btn btn-danger btn-block">No Source Website</button>
                      {% endif %}
                    </div>

                    <!-- Display button so that user can delete recipe from their current meal plan -->
                    <div class="form-group col-sm">
                      <input type="hidden" name="recipe_id" value="{{ recipe.Recipe.recipe_id }}" />
                      <input type="hidden" name="meal_time" value="lunch" />
                      <button type="submit" class="btn btn-danger btn-block" id="lunch_meal_plan_submit"
                        name="lunch_meal_plan_submit" data-toggle="modal"
                        data-target="#mealtime-modal-lunch-confirm-delete-{{ recipe.Recipe.recipe_id }}">Remove
                        from Meal Plan</button>
                    </div>

                  </div>
                </div>


                <!-- Modal prompting whether to delete recipe from their meal plan -->
                <div class="modal mealtime-modal-lunch-confirm-delete"
                  id="mealtime-modal-lunch-confirm-delete-{{ recipe.Recipe.recipe_id }}" tabindex="-1" role="dialog"
                  aria-labelledby="mealtime-modal-lunch-confirm-delete-title" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="mealtime-modal-lunch-confirm-delete-title">Confirm</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        Are you sure that you want to remove <strong>{{ recipe.Recipe.recipe_name }}</strong> from the
                        Lunch section of your meal plan?
                      </div>
                      <!-- Button to proceed with removal -->
                      <div class="modal-footer">
                        <button type="button" name="{{ recipe.Recipe.recipe_id }}"
                          id="lunch-{{ recipe.Recipe.recipe_id }}"
                          class="btn btn-danger center remove-lunch-recipe-proceed" data-dismiss="modal">
                          Remove from Meal Plan
                        </button>
                        <!-- Button to cancel and close modal -->
                        <button type="button" class="btn btn-secondary center" data-dismiss="modal">
                          Cancel
                        </button>
                      </div>
                    </div>
                  </div>
                </div>

                <hr class="recipe-list-hr" />
              </li>

              {% endfor %}

            </ul>

            <!-- If user doesn't have any lunch meals selected, display placeholder message -->
            {% else %}
            <h5 class="text-center">You don't have any lunch meals selected this week.</h5>
            {% endif %}
          </div>
        </div>
      </div>

      <!-- Card #3: Dinner recipes -->
      <div class="card" id="dinner-card">
        <div class="card-header text-center text-white bg-secondary" id="headingThree" data-toggle="collapse"
          data-target="#collapseThree">
          <h4 class="mb-0">
            Dinner
            <!-- Badge displaying total number of recipes in this section -->
            <span class="badge badge-light" id="dinner-length">{{ dinner_length }}</span>
            <span class="sr-only">dinner recipes</span>
          </h4>
        </div>
        <div id="collapseThree" {% if priority_meal != "Dinner" %} class="collapse" {% endif %}
          aria-labelledby="headingThree" data-parent="#accordion">
          <div class="card-body">
            {% if dinner_exists == True %}

            <ul class="list-unstyled">
              {% for recipe in selected_dinner_meals_list %}

              <!-- Recipe Name -->
              <li id="dinner-li-{{ recipe.Recipe.recipe_id }}">
                <a href="{{ url_for('view_recipes.recipe_detail', recipe_id=recipe.Recipe.recipe_id) }}"
                  class="text-decoration-none">
                  <h3 class="text-center">{{ recipe.Recipe.recipe_name }}</h3>
                  <!-- Recipe Prep/Cook Time -->
                  <h6 class="text-center">
                    {% if recipe.Recipe.recipe_total_time != None %}
                    ({{ recipe.Recipe.recipe_total_time }} minutes total prep/cook time)
                    {% endif %}
                  </h6>
                  <!-- Editor Certified Label -->
                  {% if recipe.Recipe.editor_certified %}
                      <p class="text-center editor-cert-list">
                          <i class="fa-solid fa-circle-check cert-icon"></i>
                          Editor Certified
                      </p>
                  {% endif %}
                  <!-- Recipe Image -->
                  {% if recipe.Recipe.recipe_image_url != None %}
                  <img id="preview" src="{{ recipe.Recipe.recipe_image_url}}"
                    class="center rounded img-fluid small-image" alt="Responsive image" />
                  {% else %}
                  <img id="preview" src="/static/view_recipes/placeholder-recipe-image.jpg"
                    class="center rounded img-fluid small-image" alt="Responsive image" />
                  {% endif %}
                </a>


                <div class="form-group">
                  <!-- Display button so that user can view recipe's page -->
                  <div class="row" style="padding-top: 20px;">
                    <div class="form-group col-sm">
                      <a href="{{ url_for('view_recipes.recipe_detail', recipe_id=recipe.Recipe.recipe_id) }}"
                        class="btn btn-primary btn-block">View Recipe</a>
                    </div>

                    <!-- Display button so that user can view recipe's source website -->
                    <div class="form-group col-sm">
                      {% if recipe.Recipe.recipe_url %}
                          <a href="https://{{ recipe.Recipe.recipe_url }}" target="_blank"
                          class="btn btn-primary btn-block">Source
                          Website</a>
                      {% else %}
                          <button type="button" class="btn btn-danger btn-block">No Source Website</button>
                      {% endif %}
                    </div>

                    <!-- Display button so that user can delete recipe from their current meal plan -->
                    <div class="form-group col-sm">
                      <input type="hidden" name="recipe_id" value="{{ recipe.Recipe.recipe_id }}" />
                      <input type="hidden" name="meal_time" value="dinner" />
                      <button type="submit" class="btn btn-danger btn-block" id="dinner_meal_plan_submit"
                        name="dinner_meal_plan_submit" data-toggle="modal"
                        data-target="#mealtime-modal-dinner-confirm-delete-{{ recipe.Recipe.recipe_id }}">Remove
                        from Meal Plan</button>
                    </div>

                  </div>
                </div>

                <!-- Modal prompting whether to delete recipe from their meal plan -->
                <div class="modal mealtime-modal-dinner-confirm-delete"
                  id="mealtime-modal-dinner-confirm-delete-{{ recipe.Recipe.recipe_id }}" tabindex="-1" role="dialog"
                  aria-labelledby="mealtime-modal-dinner-confirm-delete-title" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="mealtime-modal-dinner-confirm-delete-title">Confirm</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        Are you sure that you want to remove <strong>{{ recipe.Recipe.recipe_name }}</strong> from the
                        Dinner section of your meal plan?
                      </div>
                      <!-- Button to proceed with removal -->
                      <div class="modal-footer">
                        <button type="button" name="{{ recipe.Recipe.recipe_id }}"
                          id="dinner-{{ recipe.Recipe.recipe_id }}"
                          class="btn btn-danger center remove-dinner-recipe-proceed" data-dismiss="modal">
                          Remove from Meal Plan
                        </button>
                        <!-- Button to cancel and close modal -->
                        <button type="button" class="btn btn-secondary center" data-dismiss="modal">
                          Cancel
                        </button>
                      </div>
                    </div>
                  </div>
                </div>

                <hr class="recipe-list-hr" />
              </li>

              {% endfor %}

            </ul>

            <!-- If user doesn't have any dinner meals selected, display placeholder message -->
            {% else %}
            <h5 class="text-center">You don't have any dinner meals selected this week.</h5>
            {% endif %}
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- {% for item in output %}
  <h4>{{ item }}</h4>
  {% endfor %} -->

</div>

{% endblock %}


{% block footer %}
<script type="text/javascript" src="{{ url_for('static', filename='meal_planning/meal_plan.js') }}?v=1.02"></script>
{% endblock %}