/* BELOW IS FOR FAVORITE STAR */
@import url(//fonts.googleapis.com/css?family=Open+Sans:600,400&subset=latin,cyrillic);

/* h4 {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	opacity: 0.7;
} */

.click {
	font-size: 33px;
	color: rgba(0,0,0,.5);
    /* width: 38px; */
    width: 5px;
	height: 38px;
	margin: 0 auto;
	margin-top: 20px;
	position: relative;
	cursor: pointer;
}

/* body {
	padding-top: 20px;
} */

.click span {
	margin-left: 4px;
	margin-top: 3px;
	z-index: 999;
	position: absolute;
}

span:hover {
	opacity: 0.8;
}

span:active {
	transform: scale(0.93,0.93) translateY(2px)
}

.ring, .ring2 {
	opacity: 0;
	background: grey;
	width: 1px;
	height: 1px;
	position: absolute;
	top: 19px;
    /* left: 18px; */
    left: 2px;
	border-radius: 50%;
	cursor: pointer;
}

.active span, .active-2 span {
	color: #F5CC27 !important;
}

.active-2 .ring {
    /* width: 58px !important; */
    width: 26px !important;
	height: 58px !important;
	top: -10px !important;
    /* left: -10px !important; */
    left: -5px !important;
	position: absolute;
	border-radius: 50%;
	opacity: 1 !important;
}

.active-2 .ring {
	background: #F5CC27 !important;
}

.active-2 .ring2 {
	background: #fff !important;
}

.active-3 .ring2 {
	width: 60px !important;
	height: 60px !important;
	top: -11px !important;
    /* left: -11px !important; */
    left: -5.5px !important;
	position: absolute;
	border-radius: 50%;
	opacity: 1 !important;
}

.info {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	white-space: nowrap;
	color: grey;
	position: relative;
	top: 30px;
    /* left: -46px; */
    left: -23px;
	opacity: 0;
	transition: all 0.3s ease;
}

.info-tog {
	color: #F5CC27;
	position: relative;
	top: 45px;
	opacity: 1;
}

* {
	transition: all .32s ease;
}
/* END OF FAVORITE STAR */

html {
	height: 100%;
}

/* body {
	font-family: 'Lato', sans-serif;
	color: rgb(218, 215, 210);
	background-color:rgb(24, 26, 27);
} */

button {
    border-color: #575757;
}

/* .form-control {
    color: rgb(202, 198, 190);
	background-color: rgb(24, 26, 27);
	border-color: rgb(54, 63, 72);
} */

/* .form-control:focus {
    color: rgb(202, 198, 190);
	background-color: rgb(24, 26, 27);
	border-color: rgb(54, 63, 72);
	border: 1px solid #ced4da;
} */

#index {
	background-image: url("title_image.jpg");
	background-size: cover;
	/*background-repeat: no-repeat;*/
	/*background-position: center;*/
	font-family: 'Lato', sans-serif;
	color: white;

}

#content {
	text-align: center;
	padding-top: 25%;
	/*text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1),*/
	text-shadow: 2px 2px black;
}

h1 {
	font-weight: 700;
	font-size: 5em;
}


hr {
	width: 75%;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}

#title {
	margin-top: 1rem;
	margin-bottom: 1rem;
}


/* :root {
     color-scheme: light dark;
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	--font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
} */


/* BELOW IS FOR INGREDIENT LIST CHECKBOXES */
.completed {
	text-decoration: line-through;
	opacity: 0.2;
}

/* #rr-element {
    white-space: nowrap;
}

#rr-element label {
   padding-left: 2.0em;
} */

.big-checkbox {
    width: 15px; 
	height: 15px;
	margin-left: 20px;
    margin-right: 20px;
}

dd {
    margin-bottom: 40px;
}

dt {
    margin-bottom: 10px;
}

/* END OF INGREDIENT LIST CHECKBOXES */

.error {
	color: red;
}

.navbar-collapse {
	text-align: center;
	font-size: 20px;
}

.dropdown-item {
	text-align: center;
	font-size: 18px;
}

.nav-item {
	margin-right: 18px;
}

 /* Style the button that is used to open and close the collapsible content */
/*  .collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  } */
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
/*   .active, .collapsible:hover {
    background-color: #ccc; 
  } */
  
  /* Style the collapsible content. Note: hidden by default */
/*   .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }  */



