/* BELOW IS FOR FAVORITE STAR */
@import url(//fonts.googleapis.com/css?family=Open+Sans:600,400&subset=latin,cyrillic);

.click {
	font-size: 33px;
	color: rgba(0,0,0,.5);
    /* width: 38px; */
    width: 5px;
	height: 38px;
	margin: 0 auto;
	margin-top: 20px;
	position: relative;
	cursor: pointer;
}

/* body {
	padding-top: 20px;
} */

.click span {
	margin-left: 4px;
	margin-top: 3px;
	z-index: 999;
	position: absolute;
}

span:hover {
	opacity: 0.8;
}

span:active {
	transform: scale(0.93,0.93) translateY(2px)
}

.ring, .ring2 {
	opacity: 0;
	background: grey;
	width: 1px;
	height: 1px;
	position: absolute;
	top: 19px;
    /* left: 18px; */
    left: 2px;
	border-radius: 50%;
	cursor: pointer;
}

.active span, .active-2 span {
	color: #F5CC27 !important;
}

.active-2 .ring {
    /* width: 58px !important; */
    width: 26px !important;
	height: 58px !important;
	top: -10px !important;
    /* left: -10px !important; */
    left: -5px !important;
	position: absolute;
	border-radius: 50%;
	opacity: 1 !important;
}

.active-2 .ring {
	background: #F5CC27 !important;
}

.active-2 .ring2 {
	background: #fff !important;
}

.active-3 .ring2 {
	width: 60px !important;
	height: 60px !important;
	top: -11px !important;
    /* left: -11px !important; */
    left: -5.5px !important;
	position: absolute;
	border-radius: 50%;
	opacity: 1 !important;
}

.info {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	white-space: nowrap;
	color: grey;
	position: relative;
	top: 30px;
    /* left: -46px; */
    left: -23px;
	opacity: 0;
	transition: all 0.3s ease;
}

.info-tog {
	color: #F5CC27;
	position: relative;
	top: 45px;
	opacity: 1;
}

* {
	transition: all .32s ease;
}
/* END OF FAVORITE STAR */

html {
	height: 100%;
}

button {
    border-color: #575757;
}

#index {
	background-image: url("title_image.jpg");
	background-size: cover;
	font-family: 'Lato', sans-serif;
	color: white;

}

#content {
	text-align: center;
	padding-top: 25%;
	text-shadow: 2px 2px black;
}

h1 {
	font-weight: 700;
	font-size: 5em;
}


hr {
	width: 75%;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}

#title {
	margin-top: 1rem;
	margin-bottom: 1rem;
}


/* BELOW IS FOR INGREDIENT LIST CHECKBOXES */
.completed {
	text-decoration: line-through;
	opacity: 0.2;
}

dd {
    margin-bottom: 40px;
}

dt {
    margin-bottom: 10px;
}

/* END OF INGREDIENT LIST CHECKBOXES */

.error {
	color: red;
}

.navbar-collapse {
	text-align: center;
	font-size: 20px;
}

.dropdown-item {
	text-align: center;
	font-size: 18px;
}

.nav-item {
	margin-right: 18px;
}

.navbar-brand {
	margin-right: 30px;
}

.badge {
	margin-left: 15px;
}