{% extends "layout.html" %}
{% block nav_add %}
  active
{% endblock %}

{% block heading %}
    Add New Recipes
{% endblock %}

{% block body %}
<div class="container">
    <form role="form" method='POST'>
      <div class="form-group">
          <label for="recipe_name_box">Recipe</label>
          <input type="text" name="recipe_name" class="form-control" id="recipe_name_box" placeholder="Enter recipe name" style="max-width: 300px;" autofocus required>
      </div>
      <div class="form-group">
          <label for="recipe_desc_box">Description</label>
          <input type="text" name="recipe_desc" class="form-control" id="recipe_desc_box" placeholder="Enter recipe description" style="max-width: 300px;" autofocus required>
      </div>
      <div class="form-group">
          <label for="recipe_prep_box">Prep Time</label>
          <input type="text" name="recipe_prep_time" class="form-control" id="recipe_prep_box" placeholder="Enter recipe prep time" style="max-width: 300px;" aria-describedby="prep_help" autofocus required>
          <small id="prep_help" class="form-text text-muted">Enter prep time in minutes.</small>
      </div>
      <div class="form-group">
          <label for="recipe_cook_box">Cook Time</label>
          <input type="text" name="recipe_cook_time" class="form-control" id="recipe_cook_box" placeholder="Enter recipe cook time" style="max-width: 300px;" aria-describedby="cook_help" autofocus required>
          <small id="cook_help" class="form-text text-muted">Enter cook time in minutes.</small>
        </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
    <br>
    {% for item in output %}
      <h4>{{ item }}</h4>
    {% endfor %}
  </div>
{% endblock %}