{% extends "layout.html" %}
{% block nav_recipes %}
active
{% endblock %}


{% block heading %}
All Recipes
{% endblock %}

{% block body %}
<br>


<!-- Accordion functionality for user's recipes -->
<div class="container">
  <div id="accordion">

    <!-- Card #1: User's "Favorites" recipes -->
    <div class="card" id="favorites-card">
      <div class="card-header text-center text-white bg-secondary" id="headingOne" data-toggle="collapse"
        data-target="#collapseOne">
        <h4 class="mb-0">
          Favorites
          <!-- Badge displaying total number of recipes in this section -->
          <span class="badge badge-light">{{ fav_length }}</span>
          <span class="sr-only">favorite recipes</span>
        </h4>
      </div>

      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          {% if fav_exists == True %}

          <ul class="list-unstyled">
            {% for recipe in favorite_recipe_list %}

            <!-- Recipe Name -->
            <li>
              <a href="{{ url_for('recipe_detail', recipe_id=recipe.Recipe.recipe_id) }}" class="text-decoration-none">
                <h3 class="text-center">{{ recipe.Recipe.recipe_name }}</h3>
                <!-- Recipe Prep/Cook Time -->
                <h6 class="text-center">
                  {% if recipe.Recipe.recipe_total_time != None %}
                  ({{ recipe.Recipe.recipe_total_time }} minutes total prep/cook time)
                  {% endif %}
                </h6>
                <!-- Badges indicating if the recipe is for Breakfast, Lunch, and/or Dinner -->
                <div class="mealtime-badge d-flex justify-content-center">
                  {% if recipe.Recipe.meal_breakfast == True %}
                  <span class="badge badge-pill badge-success">Breakfast</span>
                  {% endif %}
                  {% if recipe.Recipe.meal_lunch == True %}
                  <span class="badge badge-pill badge-success">Lunch</span>
                  {% endif %}
                  {% if recipe.Recipe.meal_dinner == True %}
                  <span class="badge badge-pill badge-success">Dinner</span>
                  {% endif %}
                </div>
                <!-- Recipe Image -->
                {% if recipe.Recipe.recipe_image_url != None %}
                <img id="preview" src="{{ recipe.Recipe.recipe_image_url}}" class="center rounded img-fluid small-image"
                  alt="Responsive image" />
                {% else %}
                <img id="preview" src="/static/placeholder-recipe-image.jpg"
                  class="center rounded img-fluid small-image" alt="Responsive image" />
                {% endif %}
              </a>

              <div class="form-group">

                <div class="row" style="padding-top: 20px;">
                  <!-- Display button so that user can view recipe's page -->
                  <div class="form-group col-sm">
                    <a href="{{ url_for('recipe_detail', recipe_id=recipe.Recipe.recipe_id) }}"
                      class="btn btn-primary btn-block">View Recipe</a>
                  </div>

                  <!-- Display button so that user can view recipe's source website -->
                  <div class="form-group col-sm">
                    <a href="https://{{ recipe.Recipe.recipe_url }}" target="_blank"
                      class="btn btn-primary btn-block">Source
                      Website</a>
                  </div>

                  <!-- Display button so that user can add the recipe to their current meal plan -->
                  <div class="form-group col-sm">
                    <button name="{{ recipe.Recipe.recipe_id }}" id="meal-{{ recipe.Recipe.recipe_id }}" class="meal-button meal-{{ recipe.Recipe.recipe_id }} btn btn-block 
                            {% if recipe.app_user_id == current_user.id and recipe.active_ind == True %}
                            btn-danger">Remove from Meal Plan
                      {% else %}
                      btn-success">Add to Meal Plan
                      {% endif %}
                    </button>
                  </div>

                </div>
              </div>
            </li>
            <hr class="recipe-list-hr" />
            {% endfor %}

          </ul>

          <!-- If user doesn't have any Favorites, display placeholder message -->
          {% else %}
          <h5 class="text-center">You haven't favorited any recipes yet. Try adding one!</h5>
          {% endif %}

        </div>
      </div>
    </div>

    <!-- Card #2: All of user's uploaded recipes -->
    <div class="card">
      <div class="card-header text-center text-white bg-secondary" id="headingTwo" data-toggle="collapse"
        data-target="#collapseTwo">
        <h4 class="mb-0">
          My Recipes
          <!-- Badge displaying total number of recipes in this section -->
          <span class="badge badge-light">{{ your_length }}</span>
          <span class="sr-only">recipes uploaded by you</span>
        </h4>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
          {% if your_exists == True %}

          <ul class="list-unstyled">
            {% for recipe in your_recipe_list %}

            <!-- Recipe Name -->
            <li>
              <a href="{{ url_for('recipe_detail', recipe_id=recipe.Recipe.recipe_id) }}" class="text-decoration-none">
                <h3 class="text-center">{{ recipe.Recipe.recipe_name }}</h3>
                <!-- Recipe Prep/Cook Time -->
                <h6 class="text-center">
                  {% if recipe.Recipe.recipe_total_time != None %}
                  ({{ recipe.Recipe.recipe_total_time }} minutes total prep/cook time)
                  {% endif %}
                </h6>
                <!-- Badges indicating if the recipe is for Breakfast, Lunch, and/or Dinner -->
                <div class="mealtime-badge d-flex justify-content-center">
                  {% if recipe.Recipe.meal_breakfast == True %}
                  <span class="badge badge-pill badge-success">Breakfast</span>
                  {% endif %}
                  {% if recipe.Recipe.meal_lunch == True %}
                  <span class="badge badge-pill badge-success">Lunch</span>
                  {% endif %}
                  {% if recipe.Recipe.meal_dinner == True %}
                  <span class="badge badge-pill badge-success">Dinner</span>
                  {% endif %}
                </div>
                <!-- Recipe Image -->
                {% if recipe.Recipe.recipe_image_url != None %}
                <img id="preview" src="{{ recipe.Recipe.recipe_image_url}}" class="center rounded img-fluid small-image"
                  alt="Responsive image" />
                {% else %}
                <img id="preview" src="/static/placeholder-recipe-image.jpg"
                  class="center rounded img-fluid small-image" alt="Responsive image" />
                {% endif %}
              </a>

              <div class="form-group">
                <div class="row" style="padding-top: 20px;">
                  <!-- Display button so that user can view recipe's page -->
                  <div class="form-group col-sm">
                    <a href="{{ url_for('recipe_detail', recipe_id=recipe.Recipe.recipe_id) }}"
                      class="btn btn-primary btn-block">View Recipe</a>
                  </div>

                  <!-- Display button so that user can view recipe's source website -->
                  <div class="form-group col-sm">
                    <a href="https://{{ recipe.Recipe.recipe_url }}" target="_blank"
                      class="btn btn-primary btn-block">Source
                      Website</a>
                  </div>
                </div>


                <div class="row">
                  <!-- Display button so that user can add the recipe to their current meal plan -->
                  <div class="form-group col-sm">
                    <button name="{{ recipe.Recipe.recipe_id }}" id="meal-{{ recipe.Recipe.recipe_id }}" class="meal-button meal-{{ recipe.Recipe.recipe_id }} btn btn-block 
                        {% if recipe.app_user_id == current_user.id and recipe.active_ind == True %}
                        btn-danger">Remove from Meal Plan
                      {% else %}
                      btn-success">Add to Meal Plan
                      {% endif %}
                    </button>
                  </div>

                  <!-- Display button so that user can add the recipe to their favorites -->
                  <div class="form-group col-sm">
                    <button name="{{ recipe.Recipe.recipe_id }}" id="fav-{{ recipe.Recipe.recipe_id }}" class="favorite-button fav-{{ recipe.Recipe.recipe_id }} btn btn-block 
                        {% if recipe.Favorite_Recipe.app_user_id == current_user.id and recipe.Favorite_Recipe.favorite_recipe_id != None %}
                        btn-danger">Remove from Favorites
                      {% else %}
                      btn-success">Add to Favorites
                      {% endif %}
                    </button>
                  </div>


                </div>
              </div>

            </li>
            <hr class="recipe-list-hr" />
            {% endfor %}

          </ul>

          <!-- If user hasn't uploaded any recipes, display placeholder message -->
          {% else %}
          <h5 class="text-center">You haven't uploaded any recipes yet. Try adding one!</h5>
          {% endif %}
        </div>
      </div>
    </div>

    <!-- Card #3: "Editor's Picks" recipes -->
    <div class="card" id="editor-card">
      <div class="card-header text-center text-white bg-secondary" id="headingThree" data-toggle="collapse"
        data-target="#collapseThree">
        <h4 class="mb-0">
          Editor's Picks
          <!-- Badge displaying total number of recipes in this section -->
          <span class="badge badge-light">{{ editor_length }}</span>
          <span class="sr-only">editor's picks recipes</span>
        </h4>
      </div>

      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body">
          {% if editor_exists == True %}

          <ul class="list-unstyled">
            {% for recipe in editor_recipe_list %}

            <!-- Recipe Name -->
            <li>
              <a href="{{ url_for('recipe_detail', recipe_id=recipe.Recipe.recipe_id) }}" class="text-decoration-none">
                <h3 class="text-center">{{ recipe.Recipe.recipe_name }}</h3>
                <!-- Recipe Prep/Cook Time -->
                <h6 class="text-center">
                  {% if recipe.Recipe.recipe_total_time != None %}
                  ({{ recipe.Recipe.recipe_total_time }} minutes total prep/cook time)
                  {% endif %}
                </h6>
                <!-- Badges indicating if the recipe is for Breakfast, Lunch, and/or Dinner -->
                <div class="mealtime-badge d-flex justify-content-center">
                  {% if recipe.Recipe.meal_breakfast == True %}
                  <span class="badge badge-pill badge-success">Breakfast</span>
                  {% endif %}
                  {% if recipe.Recipe.meal_lunch == True %}
                  <span class="badge badge-pill badge-success">Lunch</span>
                  {% endif %}
                  {% if recipe.Recipe.meal_dinner == True %}
                  <span class="badge badge-pill badge-success">Dinner</span>
                  {% endif %}
                </div>
                <!-- Recipe Image -->
                {% if recipe.Recipe.recipe_image_url != None %}
                <img id="preview" src="{{ recipe.Recipe.recipe_image_url}}" class="center rounded img-fluid small-image"
                  alt="Responsive image" />
                {% else %}
                <img id="preview" src="/static/placeholder-recipe-image.jpg"
                  class="center rounded img-fluid small-image" alt="Responsive image" />
                {% endif %}
              </a>

              <div class="form-group">
                <div class="row" style="padding-top: 20px;">
                  <!-- Display button so that user can view recipe's page -->
                  <div class="form-group col-sm">
                    <a href="{{ url_for('recipe_detail', recipe_id=recipe.Recipe.recipe_id) }}"
                      class="btn btn-primary btn-block">View Recipe</a>
                  </div>

                  <!-- Display button so that user can view recipe's source website -->
                  <div class="form-group col-sm">
                    <a href="https://{{ recipe.Recipe.recipe_url }}" target="_blank"
                      class="btn btn-primary btn-block">Source
                      Website</a>
                  </div>
                </div>


                <div class="row">
                  <!-- Display button so that user can add the recipe to their current meal plan -->
                  <div class="form-group col-sm">
                    <button name="{{ recipe.Recipe.recipe_id }}" id="meal-{{ recipe.Recipe.recipe_id }}" class="meal-button meal-{{ recipe.Recipe.recipe_id }} btn btn-block 
                            {% if recipe.app_user_id == current_user.id and recipe.active_ind == True %}
                            btn-danger">Remove from Meal Plan
                      {% else %}
                      btn-success">Add to Meal Plan
                      {% endif %}
                    </button>
                  </div>

                  <!-- Display button so that user can add the recipe to their favorites -->
                  <div class="form-group col-sm">
                    <button name="{{ recipe.Recipe.recipe_id }}" id="fav-{{ recipe.Recipe.recipe_id }}" class="favorite-button fav-{{ recipe.Recipe.recipe_id }} btn btn-block 
                            {% if recipe.Favorite_Recipe.app_user_id == current_user.id and recipe.Favorite_Recipe.favorite_recipe_id != None %}
                            btn-danger">Remove from Favorites
                      {% else %}
                      btn-success">Add to Favorites
                      {% endif %}
                    </button>
                  </div>


                </div>
              </div>
            </li>
            <hr class="recipe-list-hr" />
            {% endfor %}

          </ul>

          <!-- If there are no Editor's Picks recipes, display placeholder message -->
          {% else %}
          <h5 class="text-center">The editor hasn't selected any recommended recipes yet.</h5>
          {% endif %}

        </div>
      </div>
    </div>

    <!-- Card #4: All other users' uploaded recipes -->
    <div class="card">
      <div class="card-header text-center text-white bg-secondary" id="headingFour" data-toggle="collapse"
        data-target="#collapseFour">
        <h4 class="mb-0">
          Uploaded by Others
          <!-- Badge displaying total number of recipes in this section -->
          <span class="badge badge-light">{{ other_length }}</span>
          <span class="sr-only">recipes uploaded by others</span>
        </h4>
      </div>
      <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
        <div class="card-body">
          {% if other_exists == True %}

          <ul class="list-unstyled">
            {% for recipe in other_recipe_list %}

            <!-- Recipe Name -->
            <li>
              <a href="{{ url_for('recipe_detail', recipe_id=recipe.Recipe.recipe_id) }}" class="text-decoration-none">
                <h3 class="text-center">{{ recipe.Recipe.recipe_name }} - ID {{ recipe.Recipe.recipe_id }}</h3>
                <!-- Recipe Prep/Cook Time -->
                <h6 class="text-center">
                  {% if recipe.Recipe.recipe_total_time != None %}
                  ({{ recipe.Recipe.recipe_total_time }} minutes total prep/cook time)
                  {% endif %}
                </h6>
                <!-- Badges indicating if the recipe is for Breakfast, Lunch, and/or Dinner -->
                <div class="mealtime-badge d-flex justify-content-center">
                  {% if recipe.Recipe.meal_breakfast == True %}
                  <span class="badge badge-pill badge-success">Breakfast</span>
                  {% endif %}
                  {% if recipe.Recipe.meal_lunch == True %}
                  <span class="badge badge-pill badge-success">Lunch</span>
                  {% endif %}
                  {% if recipe.Recipe.meal_dinner == True %}
                  <span class="badge badge-pill badge-success">Dinner</span>
                  {% endif %}
                </div>
                <!-- Recipe Image -->
                {% if recipe.Recipe.recipe_image_url != None %}
                <img id="preview" src="{{ recipe.Recipe.recipe_image_url}}" class="center rounded img-fluid small-image"
                  alt="Responsive image" />
                {% else %}
                <img id="preview" src="/static/placeholder-recipe-image.jpg"
                  class="center rounded img-fluid small-image" alt="Responsive image" />
                {% endif %}
              </a>

              <div class="form-group">
                <div class="row" style="padding-top: 20px;">
                  <!-- Display button so that user can view recipe's page -->
                  <div class="form-group col-sm">
                    <a href="{{ url_for('recipe_detail', recipe_id=recipe.Recipe.recipe_id) }}"
                      class="btn btn-primary btn-block">View Recipe</a>
                  </div>

                  <!-- Display button so that user can view recipe's source website -->
                  <div class="form-group col-sm">
                    <a href="https://{{ recipe.Recipe.recipe_url }}" target="_blank"
                      class="btn btn-primary btn-block">Source
                      Website</a>
                  </div>
                </div>


                <div class="row">
                  <!-- Display button so that user can add the recipe to their current meal plan -->
                  <div class="form-group col-sm" style="position: relative;">
                    <button name="{{ recipe.Recipe.recipe_id }}" id="meal-{{ recipe.Recipe.recipe_id }}" class="meal-button meal-{{ recipe.Recipe.recipe_id }} btn btn-block 
                            {% if recipe.app_user_id == current_user.id and recipe.active_ind == True %}
                            btn-danger">Remove from Meal Plan
                      {% else %}
                      btn-success" data-toggle="modal" data-target="#mealtime-modal-{{ recipe.Recipe.recipe_id }}">Add to Meal Plan
                      <!--  -->
                      {% endif %}
                    </button>


                    <!-- Modal -->
                    <div class="modal fade" id="mealtime-modal-{{ recipe.Recipe.recipe_id }}" tabindex="-1" role="dialog"
                      aria-labelledby="mealtime-modal-title" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="mealtime-modal-title">Meal Selection</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <!-- Breakfast button -->
                            <div><button name="{{ recipe.Recipe.recipe_id }}"
                                class="btn btn-block btn-success toast-button meal-breakfast">Add as Breakfast
                                Meal</button>
                            </div>
                            <!-- Lunch button -->
                            <div><button name="{{ recipe.Recipe.recipe_id }}"
                                class="btn btn-block btn-success toast-button meal-lunch">Add as Lunch Meal</button>
                            </div>
                            <!-- Dinner button -->
                            <div><button name="{{ recipe.Recipe.recipe_id }}"
                                class="btn btn-block btn-success toast-button meal-dinner">Add as Dinner Meal</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>


                    <!-- Toast message after user chooses to add recipe to meal plan -->
                    <!-- <div class="toast hide" role="alert" aria-live="assertive" aria-atomic="true"
                      style="position: absolute; top: 0; left: 0; z-index: 1" data-autohide="false">
                      <div class="toast-header">

                        <strong class="mr-auto">Meal Selection</strong>
                        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="toast-body"> -->
                        <!-- Breakfast button -->
                        <!-- <div><button name="{{ recipe.Recipe.recipe_id }}"
                            class="btn btn-block btn-success toast-button meal-breakfast">Add as Breakfast Meal</button>
                        </div> -->
                        <!-- Lunch button -->
                        <!-- <div><button name="{{ recipe.Recipe.recipe_id }}"
                            class="btn btn-block btn-success toast-button meal-lunch">Add as Lunch Meal</button></div> -->
                        <!-- Dinner button -->
                        <!-- <div><button name="{{ recipe.Recipe.recipe_id }}"
                            class="btn btn-block btn-success toast-button meal-dinner">Add as Dinner Meal</button></div>
                      </div> -->
                    </div>





                  <!-- Display button so that user can add the recipe to their favorites -->
                  <div class="form-group col-sm">
                    <button name="{{ recipe.Recipe.recipe_id }}" id="fav-{{ recipe.Recipe.recipe_id }}" class="favorite-button fav-{{ recipe.Recipe.recipe_id }} btn btn-block 
                            {% if recipe.Favorite_Recipe.app_user_id == current_user.id and recipe.Favorite_Recipe.favorite_recipe_id != None %}
                            btn-danger">Remove from Favorites
                      {% else %}
                      btn-success">Add to Favorites
                      {% endif %}
                    </button>
                  </div>




                </div>
              </div>


            </li>
            <hr class="recipe-list-hr" />
            {% endfor %}

          </ul>

          <!-- If no one else has uploaded any recipes, display placeholder message -->
          {% else %}
          <h5 class="text-center">No one else has uploaded any recipes yet!</h5>
          {% endif %}
        </div>
      </div>
    </div>
  </div>


</div>


{% endblock %}

{% block footer %}
<script type="text/javascript" src="{{ url_for('static', filename='all_recipes.js') }}?v=1.02"></script>
{% endblock %}