<!--   <script>
    function favorite_recipe(recipeId) {
      $.post('/favorite_recipe_route', {
        recipe_id: recipeId
      });
    }
  </script> -->
  <!-- 
<script>
    function favorite_recipe(recipeId) {
      $.ajax({
        type: "POST",
        url: "/favorite_recipe_route",
        data:{recipe_id:recipeId}
      });
    }
  </script>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>


  <script type=text/javascript> $(function() { $("#mybutton").click(function (event) { $.getJSON('/favorite_recipe_route', { },
    function(data) { }); return false; }); }); </script> 
    
     -->
  <!--     <input type = "button" id = "mybutton" value = "Click Here" /> -->






  <div class='container'>
    <!--  <form>
      <a href="javascript:favorite_recipe(
                                '{{ recipe.recipe_id }}');"><button
          class='btn btn-primary'>Favorite</button></a>
    </form> -->
    <br>
    <form role="form" method='POST'>
      <button type="submit" id="fav" class="btn btn-primary btn-block" data-recipeid="8">Submit</button>
    </form>