<!DOCTYPE html>
<html>

<head>
  <title>
    Recipe Selector
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" media="screen">
  <link rel="stylesheet" href="{{ url_for('static', filename='recipe.css') }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <style>
    .container {
      max-width: 1000px;
    }
  </style>
</head>

<body id="{% block bodyid %}{% endblock %}">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ url_for('index') }}">Recipe App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item {% block nav_home %}{% endblock %}">
          <a class="nav-link" href="{{ url_for('index') }}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item {% block nav_add %}{% endblock %}">
          <a class="nav-link" href="{{ url_for('add_recipe') }}">Add</a>
        </li>
        <li class="nav-item {% block nav_recipes %}{% endblock %}">
          <a class="nav-link" href="{{ url_for('all_recipes') }}">Recipes</a>
        </li>
        <li class="nav-item {% block nav_current %}{% endblock %}">
          <a class="nav-link" href="#">Current Meals</a>
        </li>

      </ul>
      <form class="form-inline">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            {% if current_user.is_active %}
            <a class="nav-link" href="#">Welcome, {{ current_user.first_name }}!</a>
            {% endif %}
          </li>
          <li class="nav-item active">
            {% if current_user.is_anonymous %}
            <a class="nav-link" href="{{ url_for('login') }}">Login</a>
            {% else %}
            <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
          </li>
        </ul>
      </form>
    </div>
  </nav>
  <div class="container" id="title">
    <h2>{% block heading %}{% endblock %}</h2>
  </div>

  {% block body %}
  {% endblock %}
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  {% block footer %}
  {% endblock %}

</body>

</html>