<!DOCTYPE html>
<html translate="no">

<head>
  <title>
    Strudel
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- The page supports both dark and light color schemes, and the page author prefers dark. -->
  <meta name="color-scheme" content="light dark">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-dark.css') }}">

  <link rel="stylesheet" href="{{ url_for('static', filename='recipe.css') }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

  <!-- CSS for uploading images -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.css">


  <!-- Web App Manifest -->
  <link rel="manifest" href="{{ url_for('static', filename='manifest.webmanifest') }}">
  <!-- include PWACompat _after_ your manifest -->
  <script async src="https://unpkg.com/pwacompat" crossorigin="anonymous"></script>

  <style>
    .container {
      max-width: 1000px;
    }
  </style>
</head>

<body id="{% block bodyid %}{% endblock %}">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ url_for('index') }}">Strudel</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        {% if current_user.is_active %}
        <!-- <li class="nav-item {% block nav_home %}{% endblock %}">
          <a class="nav-link" href="{{ url_for('index') }}">Home <span class="sr-only">(current)</span></a>
        </li> -->

        <!-- Add New Recipes menu-->
        <li class="nav-item {% block nav_add_menu %}{% endblock %} dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Add New Recipes
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item {% block nav_auto_import %}{% endblock %}" href="{{ url_for('auto_import') }}">Auto
              Import</a>
            <a class="dropdown-item {% block nav_add %}{% endblock %}" href="{{ url_for('add_recipe') }}">Manual
              Entry</a>
          </div>
        </li>


        <li class="nav-item {% block nav_recipes %}{% endblock %}">
          <a class="nav-link" href="{{ url_for('all_recipes') }}">View All Recipes</a>
        </li>

        <li class="nav-item {% block nav_meal_selector %}{% endblock %}">
          <a class="nav-link" href="{{ url_for('meal_selector') }}">Meal Selector</a>
        </li>

        <li class="nav-item {% block nav_meal_plan %}{% endblock %}">
          <a class="nav-link" href="{{ url_for('meal_plan') }}">Meal
            Plan</a>
        </li>

        <li class="nav-item {% block nav_shopping_list %}{% endblock %}">
          <a class="nav-link" href="{{ url_for('shopping_list') }}">Shopping List</a>
        </li>

        
        {% endif %}

      </ul>
      <form class="form-inline">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active d-none d-lg-block">
            {% if current_user.is_active %}
            <a class="nav-link" href="#">Welcome, {{ current_user.first_name }}!</a>
            {% endif %}
          </li>
          <li class="nav-item active">
            {% if current_user.is_anonymous %}
            <a class="nav-link" href="{{ url_for('login') }}">Login</a>
            {% else %}
            <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
          </li>
        </ul>
      </form>
    </div>
  </nav>
  <div class="container" id="title">
    <h2>{% block heading %}{% endblock %}</h2>
  </div>

  {% block body %}
  {% endblock %}

  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
  </script>

  {% block footer %}
  {% endblock %}

</body>

</html>