{% extends "layout.html" %}
{% block nav_login %}
active
{% endblock %}

{% block heading %}
Sign In
{% endblock %}

{% block body %}
<div class="container">
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div class="row">
            <div class="form-group col-lg-6">
                {{ form.app_username.label }}<br>
                {{ form.app_username(size=32, class="form-control", placeholder="Enter username") }}
            </div>
        </div>
        <div class="row">
            <div class="form-group col-lg-6">
                {{ form.password.label }}<br>
                {{ form.password(size=32, class="form-control", placeholder="Enter password") }}
            </div>
        </div>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit(class="btn btn-outline-primary") }}</p>
    </form>
    <h5>New User? <a href="{{ url_for('register') }}">Click to Register!</a></h5>

</div>
{% endblock %}