{% extends "layout.html" %}
{% block nav_current %}
active
{% endblock %}
{% block nav_meal_selector %}
active
{% endblock %}

{% block heading %}
Meal Selector
{% endblock %}

{% block body %}
<div class="container">
    <div>
        <form role="form" method='POST'>
            <div class="row">
                <!-- Recipe Name input -->
                <div class="form-group col-md">
                    <label for="num_days">Number of Days</label>
                    <input type="number" name="num_days" min="1" max="7" class="form-control" id="recipe_name_box"
                        placeholder="Enter number of days that need meals" autofocus required>
                </div>
            </div>
            <br>
            <button type="submit" class="btn btn-outline-primary btn-block">Generate Recipes</button>
        </form>
    </div>
</div>

<br>
<br>

<!-- <div class="container">
    <h4>Manual Meal Selection</h4>
    {% for recipe in selected_meals_list %}
    <h4><a href="{{ url_for('recipe_detail', recipe_id=recipe.Recipe.recipe_id) }}">{{ recipe.Recipe.recipe_name }}</a>
    </h4>
    <p>{{ recipe.Recipe.recipe_desc }}</p>
    {% endfor %}
</div>
 -->



{% endblock %}


{% block footer %}
<script type="text/javascript" src="{{ url_for('static', filename='ingredients.js') }}"></script>
{% endblock %}