{% extends "layout.html" %}
{% block nav_current %}
active
{% endblock %}
{% block nav_meal_selector %}
active
{% endblock %}

{% block heading %}
Meal Selector
{% endblock %}

{% block body %}
<div class="container">
    <h4>Automatic Meal Generation</h4>
    <br>
    <div>
        <form role="form" method='POST'>
            <button type="submit" class="btn btn-outline-primary">Generate Recipes</button>
        </form>
    </div>
</div>

<br>
<br>

<div class="container">
    <h4>Manual Meal Selection</h4>
    {% for recipe in selected_meals_list %}
    <h4><a href="{{ url_for('recipe_detail', recipe_id=recipe.Recipe.recipe_id) }}">{{ recipe.Recipe.recipe_name }}</a></h4>
    <p>{{ recipe.Recipe.recipe_desc }}</p>
    {% endfor %}
</div>




{% endblock %}


{% block footer %}
<script type="text/javascript" src="{{ url_for('static', filename='ingredients.js') }}"></script>
{% endblock %}