{% extends "layout.html" %}
{% block nav_current %}
active
{% endblock %}
{% block nav_meal_selector %}
active
{% endblock %}

{% block heading %}
Meal Selector
{% endblock %}

{% block body %}
<div class="container">
    <div>
        Automatically select meals for the week based on your favorite recipes! 
        <br>
        NOTE: Selecting the button below will clear out your current meal plan.
        <br>
        <br>
        <form role="form" method='POST'>
            <div class="row">

                <!-- Input for number of breakfast meals needed -->
                <div class="form-group col-sm">
                    <label for="num_bfast_meals">Number of Breakfast Meals</label>
                    <input type="number" name="num_bfast_meals" min="1" max="7" class="form-control" id="num_bfast_meals"
                        placeholder="Enter number of meals needed" autofocus required>
                </div>

                <!-- Input for number of lunch meals needed -->
                <div class="form-group col-sm">
                    <label for="num_lunch_meals">Number of Lunch Meals</label>
                    <input type="number" name="num_lunch_meals" min="1" max="7" class="form-control" id="num_lunch_meals"
                        placeholder="Enter number of meals needed" autofocus required>
                </div>

                <!-- Input for number of dinner meals needed -->
                <div class="form-group col-sm">
                    <label for="num_dinner_meals">Number of Dinner Meals</label>
                    <input type="number" name="num_dinner_meals" min="1" max="7" class="form-control" id="num_dinner_meals"
                        placeholder="Enter number of meals needed" autofocus required>
                </div>

            </div>
            <br>
            <button type="submit" class="btn btn-outline-primary btn-block">Generate Recipes</button>
        </form>
    </div>
</div>

<br>
<br>

<!-- <div class="container">
    <h4>Manual Meal Selection</h4>
    {% for recipe in selected_meals_list %}
    <h4><a href="{{ url_for('recipe_detail', recipe_id=recipe.Recipe.recipe_id) }}">{{ recipe.Recipe.recipe_name }}</a>
    </h4>
    <p>{{ recipe.Recipe.recipe_desc }}</p>
    {% endfor %}
</div>
 -->



{% endblock %}


{% block footer %}
<script type="text/javascript" src="{{ url_for('static', filename='ingredients.js') }}"></script>
{% endblock %}