{% extends "layout.html" %}
{% block nav_current %}
active
{% endblock %}
{% block nav_meal_plan %}
active
{% endblock %}

{% block heading %}
Meal Plan
{% endblock %}

{% block body %}

<br>
<div class="container">
    <div id="accordion">

        <!-- Card #1: User's "Favorites" recipes -->
        <div class="card" data-toggle="collapse" data-target="#collapseOne">
          <div class="card-header text-center" id="headingOne">
            <h4 class="mb-0">
              Breakfast
            </h4>
          </div>
    
          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              {% if bfast_exists == True %}
              <dl>
                {% for recipe in selected_bfast_meals_list %}
                <dt class="text-center">
                  <h4>
                    Meal #{{ recipe.Current_Meal.day_number }}
                  </h4>
                  <h4>
                    <a href="{{ url_for('recipe_detail', recipe_id=recipe.Recipe.recipe_id) }}">{{ recipe.Recipe.recipe_name }}</a>
                  </h4>
    
                  <h6><a href="https://{{ recipe.Recipe.recipe_url }}" target="_blank">Source Website</a></h6>
                </dt>
                <dd class="text-center">
                  <p>{{ recipe.Recipe.recipe_desc }}</p>
                </dd>
                {% endfor %}
              </dl>
              {% else %}
              <h5 class="text-center">You don't have any breakfast meals selected this week.</h5>
              {% endif %}
            </div>
          </div>
        </div>
    
        <!-- Card #2: All of user's uploaded recipes -->
        <div class="card" data-toggle="collapse" data-target="#collapseTwo">
          <div class="card-header text-center" id="headingTwo">
            <h4 class="mb-0">
              Lunch
            </h4>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
              {% if lunch_exists == True %}
              <dl>
                {% for recipe in selected_lunch_meals_list %}
                <dt class="text-center">
                  <h4>
                    Meal #{{ recipe.Current_Meal.day_number }}
                  </h4>
                  <h4>
                    <a href="{{ url_for('recipe_detail', recipe_id=recipe.Recipe.recipe_id) }}">{{ recipe.Recipe.recipe_name }}</a>
                  </h4>
    
                  <h6><a href="https://{{ recipe.recipe_url }}" target="_blank">Source Website</a></h6>
                </dt>
                <dd class="text-center">
                  <p>{{ recipe.Recipe.recipe_desc }}</p>
                </dd>
                {% endfor %}
              </dl>
              {% else %}
              <h5 class="text-center">You don't have any lunch meals selected this week.</h5>
              {% endif %}
            </div>
          </div>
        </div>
    
        <!-- Card #3: All other users' uploaded recipes -->
        <div class="card" data-toggle="collapse" data-target="#collapseThree">
          <div class="card-header text-center" id="headingThree">
            <h4 class="mb-0">
              Dinner
            </h4>
          </div>
          <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
              {% if dinner_exists == True %}
              <dl>
                {% for recipe in selected_dinner_meals_list %}
                <dt class="text-center">
                  <h4>
                    Meal #{{ recipe.Current_Meal.day_number }}
                  </h4>
                  <h4>
                    <a href="{{ url_for('recipe_detail', recipe_id=recipe.Recipe.recipe_id) }}">{{ recipe.Recipe.recipe_name }}</a>
                  </h4>
    
                  <h6><a href="https://{{ recipe.recipe_url }}" target="_blank">Source Website</a></h6>
                </dt>
                <dd class="text-center">
                  <p>{{ recipe.Recipe.recipe_desc }}</p>
                </dd>
                {% endfor %}
              </dl>
              {% else %}
              <h5 class="text-center">You don't have any dinner meals selected this week.</h5>
              {% endif %}
            </div>
          </div>
        </div>
      </div>

</div>

<!-- {% for item in output %}
  <h4>{{ item }}</h4>
  {% endfor %} -->

{% endblock %}


{% block footer %}
<script type="text/javascript" src="{{ url_for('static', filename='ingredients.js') }}"></script>
{% endblock %}