{% extends "layout.html" %}
{% block nav_current %}
active
{% endblock %}
{% block nav_meal_plan %}
active
{% endblock %}

{% block heading %}
Meal Plan
{% endblock %}

{% block body %}
<!--
<div class="container">

    {% for recipe in meal_plan_list %}
    <h4>Day {{ recipe.Current_Meal.day_number }}: <a
            href="{{ url_for('recipe_detail', recipe_id=recipe.Recipe.id) }}">{{ recipe.Recipe.recipe_name }}</a></h4>
    {% endfor %}


</div>
-->
<br>
<div class="container">
    <ul>
      {% for recipe in selected_meals_list %}
        <li>
          <h4>Day {{ recipe.Current_Meal.day_number }} - <a href="{{ url_for('recipe_detail', recipe_id=recipe.Recipe.recipe_id) }}">{{ recipe.Recipe.recipe_name }}</a></h4>
          
          <h5><a href="https://{{ recipe.Recipe.recipe_url }}">Source Website</a></h5>
          <p>{{ recipe.Recipe.recipe_desc }}</p>
        </li>
      {% endfor %}
    </ul>
</div>

{% endblock %}


{% block footer %}
<script type="text/javascript" src="{{ url_for('static', filename='ingredients.js') }}"></script>
{% endblock %}