{% extends "layout.html" %}
{% block nav_add %}
active
{% endblock %}

{% block heading %}
Recipe Added
{% endblock %}

{% block body %}
<div class="container">
    <div>
        {{ recipe_name }} was sucessfully added!
    </div>

    <div class="container" style="padding-top: 20px;">
        <div class="row" style="padding-top: 20px;">
            <a href="{{ url_for('recipe_detail', recipe_id=recipe_id) }}"><button type="button"
                    class="btn btn-outline-primary">View Recipe</button></a>
        </div>
        <div class="row" style="padding-top: 20px;">
            <a href="{{ url_for('add_recipe') }}"><button type="button" class="btn btn-outline-danger">Add
                    Another</button></a>
        </div>
    </div>
</div>

<!--
{% for item in output %}
<h4>{{ item }}</h4>
{% endfor %}
-->

{% endblock %}


{% block footer %}
<script type="text/javascript" src="{{ url_for('static', filename='ingredients.js') }}"></script>
{% endblock %}