{% extends "layout.html" %}
{% block nav_add_menu %}
active
{% endblock %}

{% block heading %}
Recipe Added
{% endblock %}

{% block body %}
<div class="container">
    <div>
        <h4>{{ recipe_name }} was sucessfully added!</h4>
    </div>

    <div class="container" style="padding-top: 20px;">
        <div class="form-group">
            <div class="row" style="padding-top: 20px;">
                <div class="form-group col-sm">
                    <a href="{{ url_for('recipe_detail', recipe_id=recipe_id) }}"><button type="button"
                            class="btn btn-outline-primary">View Recipe</button></a>
                </div>
                <div class="form-group col-sm">
                    <a href="{{ url_for('auto_import') }}"><button type="button" class="btn btn-outline-success">Add
                            Another (Auto Import)</button></a>
                </div>
            </div>
            <div class="row" style="padding-top: 10px;">
                <div class="form-group col-sm">
                    <a href="{{ url_for('edit_recipe', recipe_id=recipe_id) }}"><button type="button"
                            class="btn btn-outline-danger">Edit Recipe</button></a>
                </div>

                <div class="form-group col-sm">
                    <a href="{{ url_for('add_recipe') }}"><button type="button" class="btn btn-outline-success">Add
                            Another (Manual Entry)</button></a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


{% for item in output %}
<h4>{{ item }}</h4>
{% endfor %}


{% endblock %}


{% block footer %}
<script type="text/javascript" src="{{ url_for('static', filename='ingredients.js') }}"></script>
{% endblock %}