{% extends "layout.html" %}
{% block nav_current %}
active
{% endblock %}

{% block nav_shopping_list %}
active
{% endblock %}

{% block heading %}
Shopping List
{% endblock %}

{% block body %}
<br>

<div class="container">

    <h5>
    {% for ingredient in shop_list %}

        <dl>
            <dt id="rr-element">
                <input type="checkbox" class="big-checkbox" value="1" id="rr-1" name="rr[]">                                       
                {{ ingredient.Ingredient.ingredient_desc }}
            </dt>
        </dl>

    {% endfor %}
    </h5>

</div>



{% endblock %}


{% block footer %}
<script type="text/javascript" src="{{ url_for('static', filename='shopping_list.js') }}"></script>
{% endblock %}