{% extends "layout.html" %}
{% block nav_current %}
active
{% endblock %}

{% block nav_shopping_list %}
active
{% endblock %}

{% block heading %}
Shopping List
{% endblock %}

{% block body %}
<br>

<div class="container">
    <div>
        Automatically generate your shopping list based on this week's selected meals!
        <br>
        <span class="error">NOTE: Selecting the button below will clear out your current shopping list.</span>
        <br>
        <br>

        <form role="form" method='POST'>

            <button type="submit" class="btn btn-outline-primary btn-block">Generate Shopping List</button>

        </form>
    </div>

    <br>

    <dl id="shop-list">
        {% for ingredient in shop_list %}
        <dt>
            <i class="fas fa-bars"></i>
            <input type="checkbox" class="big-checkbox" value="1" id="{{ ingredient.Shopping_List.shopping_list_id }}"
                name="rr[]" {% if ingredient.Shopping_List.checked_status == True %} checked {% endif %}><span
                {% if ingredient.Shopping_List.checked_status == True %} class="completed"
                {% endif %}>{{ ingredient.Shopping_List.item_desc }} ({{ ingredient.Recipe.recipe_name }})</span>
        </dt>
        {% endfor %}
    </dl>


</div>



{% endblock %}


{% block footer %}
<script type="text/javascript" src="{{ url_for('static', filename='shopping_list.js') }}"></script>

<!-- Latest Sortable -->
<!-- <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script> -->
<!-- <script src="https://cdn.jsdelivr.net/npm/jquery-sortablejs@latest/jquery-sortable.js"></script> -->
<!-- <script src="https://raw.githack.com/SortableJS/Sortable/master/Sortable.js"></script> -->


<!-- jQuery UI -->
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
    integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>

<!-- Touch Punch to enable jQuery UI Sortable on touch devices -->
<script src="{{ url_for('static', filename='jquery.ui.touch-punch.js') }}"></script>

{% endblock %}