{% extends "layout.html" %}
{% block nav_home %}
  active
{% endblock %}

{% block bodyid %}index{% endblock %}

{% block body %}
<div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div id="content">
                    <h1 class="title-name">Strudel</h1>
                    <h3>An App to Store and Select Recipes</h3>
                    <hr>
                    {% if current_user.is_anonymous %}
                    <div class="btn-group-lg">
                        <a class="btn btn-primary btn-index" href="{{ url_for('register') }}">
                            Register
                        </a>
                        <a class="btn btn-success btn-index" href="{{ url_for('login') }}">
                            Login
                        </a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}