{% extends "layout.html" %}
{% block nav_login %}
active
{% endblock %}


{% block body %}
<div class="container feature-page">

    <div class="container" id="title">
        <h2>Sign In</h2>
    </div>

    <div class="container">
        <div class="error">{{ error }}</div>
        <br>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <div class="row">
                <div class="form-group col-sm-6">
                    {{ form.app_username.label }}<br>
                    {{ form.app_username(size=32, class="form-control col-sm-12", placeholder="Enter username") }}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6">
                    {{ form.password.label }}<br>
                    {{ form.password(size=32, class="form-control col-sm-12", placeholder="Enter password") }}
                </div>
            </div>
            <p>{{ form.remember_me(class="big-checkbox") }} {{ form.remember_me.label }}</p>
            <div class="form-group">
                <div class="row" style="padding-top: 20px;">
                    <div class="form-group col-sm-6">
                        {{ form.submit(class="btn btn-primary btn-block", id="sign-in-button") }}

                    </div>
                    <div class="form-group col-sm-6" id="hidden-button"><button type="button"
                            class="btn invisible btn-block">Primary</button></div>
                </div>
            </div>
            <!-- <div class="btn-group-md" style="padding-top: 15px;"> -->

            <div class="form-group">
                <div class="row">
                    <div class="form-group col-sm-3">
                        <!-- Forgot Password Button -->
                        <a class="btn btn-warning btn-block" href="{{ url_for('reset_password_request') }}">
                            Forgot Password
                        </a>
                    </div>
                    <div class="form-group col-sm-3">
                        <!-- Register Button -->
                        <a class="btn btn-success btn-block" href="{{ url_for('register') }}">
                            Register
                        </a>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>
{% endblock %}