{% extends "layout.html" %}
{% block nav_meal_selector %}
active
{% endblock %}

{% block heading %}
Meal Selector
{% endblock %}

{% block body %}
<br>
<div class="container">
    <div>
        <!-- <br>
        <span class="error">NOTE: Selecting the button below will clear out your current meal plan.</span> -->
        <br>
        <form role="form" method='POST'>

            <div class="btn-group btn-group-toggle btn-block" data-toggle="buttons">
                <label class="btn btn-outline-success active">
                    <input type="radio" name="recipe_source" value="fav" id="fav" autocomplete="off" checked> Favorites
                </label>
                <label class="btn btn-outline-success">
                    <input type="radio" name="recipe_source" value="you" id="you" autocomplete="off"> Uploaded by You
                </label>
                <label class="btn btn-outline-success">
                        <input type="radio" name="recipe_source" value="editor" id="editor" autocomplete="off"> Editor's Picks
                    </label>
                <label class="btn btn-outline-success">
                    <input type="radio" name="recipe_source" value="all" id="all" autocomplete="off"> All Recipes
                </label>
            </div>

            <br>
            <br>
            <br>

            <div class="row">

                <!-- Input for number of breakfast meals needed -->
                <div class="form-group col-sm">
                    <label for="num_bfast_meals">Number of Breakfast Meals</label>
                    <input type="number" name="num_bfast_meals" max="7" class="form-control" id="num_bfast_meals"
                        placeholder="Enter number of meals needed" autofocus>
                </div>

                <!-- Input for number of lunch meals needed -->
                <div class="form-group col-sm">
                    <label for="num_lunch_meals">Number of Lunch Meals</label>
                    <input type="number" name="num_lunch_meals" max="7" class="form-control" id="num_lunch_meals"
                        placeholder="Enter number of meals needed" autofocus>
                </div>

                <!-- Input for number of dinner meals needed -->
                <div class="form-group col-sm">
                    <label for="num_dinner_meals">Number of Dinner Meals</label>
                    <input type="number" name="num_dinner_meals" max="7" class="form-control" id="num_dinner_meals"
                        placeholder="Enter number of meals needed" autofocus>
                </div>

            </div>


            <br>
            <br>


            <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#mealtime-modal-new-plan">
                Generate Recipes
            </button>


            <!-- Modal prompting whether to proceed with generating a new meal plan -->
            <div class="modal fade mealtime-modal-new-plan"
            id="mealtime-modal-new-plan" tabindex="-1" role="dialog"
            aria-labelledby="mealtime-modal-new-plan-title" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="mealtime-modal-new-plan-title">Confirm</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                        Generating a new meal plan will delete your existing plan. Are you sure that you want to continue?
                </div>
                <!-- Button to proceed with removal -->
                <div class="modal-footer">
                  <button type="submit" class="btn btn-primary center">
                    Generate Meal Plan
                  </button>
                  <!-- Button to cancel and close modal -->
                  <button type="button" class="btn btn-secondary center" data-dismiss="modal">
                    Cancel
                  </button>
                </div>
              </div>
            </div>
          </div>

        </form>
    </div>
</div>

<br>
<br>



{% endblock %}


{% block footer %}
<!-- <script type="text/javascript" src="{{ url_for('static', filename='ingredients.js') }}"></script> -->
{% endblock %}