{% extends "layout.html" %}
{% block nav_add_menu %}
active
{% endblock %}

{% block body %}
<div class="container feature-page">

    <div class="container" id="title">
        <h2>Recipe Added</h2>
    </div>

    <div class="container">
        <div>
            <h4>{{ recipe_name }} was sucessfully added!</h4>
            <div class="error">{{ error }}</div>
        </div>

        <div class="container" style="padding-top: 20px;">
            <div class="form-group">
                <div class="row" style="padding-top: 20px;">
                    <div class="form-group col-sm">
                        <a href="{{ url_for('recipe_detail', recipe_id=recipe_id) }}"
                            class="btn btn-success btn-block">View Recipe</a>
                    </div>
                    <div class="form-group col-sm">
                        <a href="{{ url_for('edit_recipe', recipe_id=recipe_id) }}"
                            class="btn btn-warning btn-block">Edit Recipe</a>
                    </div>

                </div>
                <div class="row" style="padding-top: 10px;">
                    <div class="form-group col-sm">
                        <a href="{{ url_for('auto_import') }}" class="btn btn-primary btn-block">Add
                            Another (Auto Import)</a>
                    </div>

                    <div class="form-group col-sm">
                        <a href="{{ url_for('add_recipe') }}" class="btn btn-primary btn-block">Add
                            Another (Manual Entry)</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Uncomment below lines for debugging -->
<!-- {% for item in output %}
<h4>{{ item }}</h4>
{% endfor %} -->


{% endblock %}


{% block footer %}
<script type="text/javascript" src="{{ url_for('static', filename='ingredients.js') }}"></script>
{% endblock %}